root = true

[*]
indent_style = space
indent_size = 4
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

[*.java]
ij_java_names_count_to_use_import_on_demand = 5
ij_java_class_count_to_use_import_on_demand = 5
