root = true

[*]
indent_style = space
indent_size = 4
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

[*.java]
ij_java_names_count_to_use_import_on_demand = 5
ij_java_class_count_to_use_import_on_demand = 5
ij_java_space_before_if_parentheses = true
ij_java_space_before_for_parentheses = true
ij_java_space_before_try_parentheses = true
ij_java_space_before_catch_parentheses = true
ij_java_space_before_while_parentheses = true
ij_java_space_before_switch_parentheses = true
